/* colors ans fonts */
body{
	background-color: #plum;
	color: rgba(7, 103, 119, 0.93);
	font-family: Helvetica;
	font-size: 17px;
	font-weight: lighter;
}

h1,h2,h3 {
	font-family: font-family: 'Karla', sans-serif;
}

h1{
	color: rgb(22, 111, 126);
    font-family: Helvetica;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 32px;
}

h2{
	color: rgb(22, 111, 126);
	font-family: Helvetica;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 25px;
}

h3{
	color: rgb(22, 111, 126);
	font-family: Helvetica;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 25px;
}

a{
	font-family: 'roboto', sans-serif;
	text-decoration: none;
	color: lightpink;
	font-weight: 600;
	font-size: 16px;
}

a:hover{
	color: yellow;
}

div{
display: block;
}

.first-div{
background: #F7F9FC;
padding: 24px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
border-radius: 4px;
margin: 20px 0px;
text-align: center;	
}

img{
	width: 90px;
}
.img-circle{
	border-radius: 50%;
}

.btn-blue{
	background: lightblue;
	color: white;
	padding: 10px 15px;
	border-radius: 4px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}


.list-inline i {
	font-size: 50px;
	color: lightblue;
}

.list-inline i: hover {
	color: yellow;
}

#introduction p {
	margin-bottom: 40px;
}


@media(max-widtg:  750px){
	first-div {
		widht: 600px;
	}
}

@media(max-widtg:  500px){
	first-div {
		widht: 400px;
	}
}







